[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
easyocr = "==1.7.1"
flask = "==3.0.3"
opencv-python = "==4.8.0.74"
opencv-python-headless = "==4.9.0.80"
openpyxl = "==3.1.2"

[dev-packages]

[requires]
python_version = "3.9"
